@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

/* @keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
} */

/* @keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 12s linear infinite;
} */



@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* move by half, since we duplicated */
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}


@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes zoomIn {
  from { transform: scale(0.9); opacity: 0 }
  to { transform: scale(1); opacity: 1 }
}

.animate-fadeIn {
  animation: fadeIn .25s ease-in-out;
}
.animate-zoomIn {
  animation: zoomIn .3s ease-in-out;
}
